apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-{{ .Release.Name | default "dev" }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: alpine:3.18          # <-- тут поставь свой образ
          command: ["sh", "-c", "sleep 3600"]  # <-- можно заменить на рабочий CMD
          ports:
            - containerPort: 80       # <-- твой порт
